[submodule "lib/apicommon"]
	path = lib/apicommon
	url = git://github.com/nolim1t/apicommon.git
[submodule "lib/mongo"]
	path = lib/mongo
	url = git://github.com/nolim1t/node-mongo-with-heroku.git
[submodule "lib/randomstring"]
	path = lib/randomstring
	url = git://github.com/nolim1t/randomstring.git
