p You're all set! keep the checkins flowing and you'll see some magic happen 
-if (alreadyConnected == true)
	p PS: We noticed you already have an account, so we have also updated the permissions on our end